:root{
    --primary-font-family: 'Roboto',
        sans-serif;
    --secondary-font-family: 'Raleway',
        sans-serif;
    --accent-color: #2196F3;
    --primary-title-color: #FFFFFF;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-background-color: #E5E5E5;
    --secondary-backgroud-color: #F5F4FA;
    --footer-hero-background-color:#2F303A;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.body{
    font-family: var(--primary-font-family)
}
/* Header */
.menu-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color);
}
.nav-menu-list .link.current{
    color: var(--accent-color);
}
.contact-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color)
}
.contact-link:hover,
.contact-link:focus{
    color: var(--accent-color)
}
.logo{
    font-family: var(--secondary-font-family)
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
/* main content */
/* HERO */
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-title-color);
}
.hero-button-text{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-title-color)
}
.hero-button{
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.hero-button:hover
.hero-button:focus{
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.hero{
    background: var(--footer-hero-background-color);
}
/* Our Features */

.features-list-item-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.features-list-item-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
/* Our Services */
.services-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.66;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    
}
/*Team Title*/
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.66;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.team-list-item-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.team-list-item-orientation{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
/* Footer */
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
}
.map-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-title-color)
}
.address-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.address-link:hover,
.address-link:focus{
    color: var(--accent-color);
}
.footer{
    background: var(--footer-hero-background-color);
}
/* Portfolio */
/* Project Types */
.button-text{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.button:hover,
.button:focus{
    color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

}
.button{
    background: var(--secondary-backgroud-color);
    border-radius: 4px;
    cursor: pointer;
}
.project-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.project-orientation{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}